.App {
  text-align: center;
  max-width: 1000px;
  margin: 25px auto;
  border: 1px solid lightgray;
  padding: 50px;
}
.deleteModalTitle {
  font-size: 19px;
}
.modalBtn {
  margin-top: 35px;
}
.modalBtn > .btn {
  margin-right: 30px;
  color: #fff;
  background-color: #17a2b8;
  border: none;
  width: 77px;
  height: 33px;
  border-radius: 5%;
  cursor: pointer;
}
@media screen and (max-width:600px) {
  .App {
    max-width: 400px;
    padding:10px;
  }
}